.content {
  grid-area: c;
  background-color: cornflowerblue;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
  color: white ;
}
.dialogsItems .active {
  color: gold;
}

.dialogsItems .dialog {}

.messages {
  padding: 10px;
}

.messages .message {
  color: white;
}
